*{
  padding:0px;
  margin: 0px;
}

.navbar{
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  opacity: 0.9;
  font-weight:bold;
  font-family: helvetica;
  color:black;
  padding:20px;
  font-size: 20px;
}
a:visited{
  color:black;
}
.navbar a{
  color:black;
  border-right: 2px solid red;
  padding: 20px;
  margin:auto;
  text-decoration: none;
}
.navbar a:hover{
    transition: ease-in-out;
    transition-duration: 0.25s;
    background-color: red;
    color: white;

}
.navbar li{
  display: inline;
  text-align: center;
    line-height: 0px;
}
.navbar a:last-child{
  border-right: none;
}

.top {
  height: 300px;
  width: 1000px;
  padding-top: 100px;
  margin:auto;
}


.logo {
  float: left;
  padding-top:20px;
}

.HerMajestyIncorporated{
  float: right;
  display: flex;
  flex-direction: row-reverse;
  width:450px;
  margin: auto;
}
.HerMajestyIncorporated span{
  color: #cc2900;
}
.HerMajestyIncorporated img{
  margin:auto;
  margin-left:20px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .5), 0 2px 20px 0 rgba(0, 0, 0, .025);
}
.HerMajestyIncorporated p{
  font-size: 26px;
  color:gray;
  margin: auto;
  align-self: center;
}
#showcase{
  background-image:url('../images/sy-g-cross.png');
  height: 275px;
  max-width: 1500px;
  margin:auto;
  background-position: top;
  background-size: contain;
  background-attachment: fixed;
}
 .abouttext{
   margin:auto;
   padding: 50px;
   max-width: 1000px;
   box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .5), 0 2px 20px 0 rgba(0, 0, 0, .025);
   font-family:helvetica;
   font-size: 20px;
   line-height: 1.5em;
 }
 .abouttext h1{
   color:#cc2900;
   text-align: center;
   margin-bottom: 20px;
 }
 .abouttext li{
   margin-left: 50px;
 }
#showcase2{
  background-image:url('../images/AbuDhabiSkyline.jpg');
  height: 400px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
#abudhabistgeorge{
  max-width:1000px;
  margin: auto;
  padding: 50px;
  font-family: helvetica;
  font-size: 20px;
  line-height: 1.5em;
  margin-top: 5px;
  margin-bottom: 5px;
}
#abudhabistgeorge h1{
  text-align:center;
  margin-bottom: 20px;
   color:#cc2900;
}

footer{
  height: 200px;
  padding:0px;
  margin:0;
  background-color: gray;
  color:white;
  font-family:helvetica;
}
.Footerinfo{
  width: 1000px;
  height: 100px;
  margin:auto;
  padding-top: 40px;
  border-bottom: 1px solid black;
}
.RSSGhome{
  float:left;
  padding-left: 50px;
}
.contactus{
  float:left;
  padding-left: 10px;
}
.copyright{
  width: 1000px;
  display: block;
  margin:auto;
}
#siteseal{
  float:right;
}
@media (max-width:1000px) {
  .top {
    height: 500px;
    width: 400px;
    padding-top: 40px;
    margin:auto;
  }
  .logo {
    float: none;
    padding-top:20px;
  }

  .HerMajestyIncorporated{
    float: none;
    display: flex;
    flex-direction: row-reverse;
    width:450px;
    margin: auto;
  }
  #showcase{
    background-image:url('../images/sy-g-cross.png');
    height: 275px;
    max-width: 1500px;
    margin:auto;
    background-position: top;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
  }
  #showcase2{
    background-image:url('../images/AbuDhabiSkyline.jpg');
    height: 400px;
    background-attachment:scroll;
    background-size: cover;
    background-repeat: no-repeat;
  }
