*{
  padding:0px;
  margin:0px;
}
.main{
}
.navbar{
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  opacity: 0.9;
  font-weight:bold;
  font-family: helvetica;
  color:black;
  padding:20px;
  font-size:20px;
}
a:visited{
  color:black;
}
.navbar a{
  color:black;
  border-right: 2px solid red;
  padding: 20px;
  margin:auto;
  text-decoration: none;
}
.navbar a:hover{
    transition: ease-in-out;
    transition-duration: 0.25s;
    background-color: red;
    color: white;

}
.navbar li{
  display: inline;
  text-align: center;
    line-height: 0px;
}
.navbar a:last-child{
  border-right: none;
}
.top {
  height: 300px;
  width: 1000px;
  padding-top: 100px;
  margin:auto;
}
.logo {
  float: left;
  padding-top:20px;
}
.HerMajestyIncorporated{
  float: right;
  display: flex;
  flex-direction: row-reverse;
  width:450px;
  margin: auto;
}
.HerMajestyIncorporated span{
  color: #cc2900;
}
.HerMajestyIncorporated img{
  margin:auto;
  margin-left:20px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .5), 0 2px 20px 0 rgba(0, 0, 0, .025);
}
.HerMajestyIncorporated p{
  font-size: 26px;
  color:gray;
  margin: auto;
  align-self: center;
}
.Img1{
  display: block;
  background-image: url("../images/104_324521_AbuDhabiUAE.jpg");
  min-height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.Img1 h1{
  text-align: center;
  padding-top: 350px;
  font-size: 50px;
  color:white;
  text-shadow: 1px 1px 4px red;
  font-family: helvetica;
  /*text-shadow: 1px 1px 10px yellow, 1px 1px 10px red;*/
}
.hometext{
  max-width: 1000px;
  text-align: center;
  margin:auto;
  padding: 50px;
  font-size: 20px;
  font-family: helvetica;
  line-height: 1.5em;

}
.hometext h1{
  line-height: 1em;
}
.hometext li{
  margin-left:50px;
}
.hometext p{
  text-align: left;
}
.hometext span{
  color: #cc2900;
}
.hometext ul{
  text-align: left;
}
.externallinks{
  text-align: center;
  display:block;
  max-width: 1000px;
  max-height: 900px;
  margin: auto;
  margin-bottom: 100px;
  overflow:hidden;
  vertical-align: middle;
}

@keyframes fadeinup{
  from {width:100%; height:100%;}
  to {width: 110%; height:110%;}
}

.about{
  display:block;
  max-width: 353px;
  text-align: center;
  background: #cc2900;
  border: 2px solid black;
  overflow:hidden;
  margin:auto;
  float:left;
}
.about img{
  width: 353px;
  overflow:hidden;
  margin: auto;
}
.about img:hover{
  animation-name: fadeinup;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.about p{
  font-family: helvetica;
  color: black;
  font-weight: bold;
  padding:10px;
}

.becomingamember{
  float: left;
  margin-left: 50px;
  border: 2px solid black;
  max-height: 300px;
  background-color: #cc2900;
  overflow:hidden;
}
.becomingamember img{
  width: 100%;
  background-color:white;

}
.becomingamember img:hover{
  animation-name: fadeinup;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.becomingamember p{
  background-color: #cc2900;
  font-family: helvetica;
  color: black;
  font-weight: bold;
  padding:10px;
}
.fb-page{
  float:right;
}

.sponsers{
  max-width: 1000px;
  min-width: 100px;
  height: 650px;
  margin:auto;
  margin-bottom: 50px;
  padding-top:20px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#sponsertitle h1{
  margin-bottom: 20px;
  text-align: center;
  clear:both;
  font-family: helvetica;
  text-align: center;
}
.sponsers *{
  max-height: 150px;
  float:left;
  max-width: 225px;
  margin: 10px;
}

.spinneys img{
  margin-top: 30px;
}
.starsnbars img{
}
.mcgettigans img{
  margin-top: 20px;
}
.dusitthani img{
  margin-top: 40px;
}
.victors{
  filter: invert(100%);
}
.crowneplazalogo{
  filter: invert(100%);
}

#sponsersbox{
  background-color:white;
  max-width:800px;
  margin:auto;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom:20px;
  overflow: auto;

}

#sponsersbackground{
  display: block;
  background-image: url(../images/stgeorgeflag.jpg);
  height: 1000px;
  padding-top: 300px;

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



footer{
  height: 200px;
  padding:0px;
  margin:0;
  background-color: gray;
  color:white;
  font-family: helvetica;
}
.Footerinfo{
  width: 1000px;
  height: 100px;
  margin:auto;
  padding-top: 40px;
  border-bottom: 1px solid black;
}
.RSSGhome{
  float:left;
  padding-left: 50px;
}
.contactus{
  float:left;
  padding-left: 10px;
}
.copyright{
  width: 1000px;
  display: block;
  margin:auto;
}
#siteseal{
  float:right;
}
@media (max-width:1000px) {
  .top {
    height: 500px;
    width: 400px;
    padding-top: 40px;
    margin:auto;
  }
  .logo {
    float: none;
    padding-top:20px;
  }
  .HerMajestyIncorporated{
    float: none;
    display: flex;
    flex-direction: row-reverse;
    width:450px;
    margin: auto;
  }
  .Img1{
    display: block;
    background-image: url("../images/104_324521_AbuDhabiUAE.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  #sponsersbackground{
    display: block;
    background-image: url(../images/stgeorgeflag.jpg);
    height: 1000px;
    padding-top: 300px;

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

}
