*{
  padding: 0px;
  margin: 0px;
}
.navbar{
  width:100%;
  margin:auto;
  text-align: center;
  position: fixed;
  top: 0;
  background-color: white;
  opacity: 0.9;
  font-weight:bold;
  font-family: helvetica;
  font-size:20px;
  color:black;
  padding: 20px;
}
a:visited{
  color:black;
}
.navbar a{
  color:black;
  padding:20px;
  border-right: 2px solid red;
  text-decoration: none;
  overflow:hidden;
}
.navbar a:hover{
    transition: ease-in-out;
    transition-duration: 0.25s;
    background-color: red;
    color: white;

}
.navbar li{
  display: inline;
}
.navbar a:last-child{
  border-right: none;
}

.top {
  height: 300px;
  width: 1000px;
  padding-top: 100px;
  margin:auto;
}


.logo {
  float: left;
  padding-top:20px;
}

.HerMajestyIncorporated{
  float: right;
  display: flex;
  flex-direction: row-reverse;
  width:450px;
  margin: auto;
}
.HerMajestyIncorporated span{
  color: #cc2900;
}
.HerMajestyIncorporated img{
  margin:auto;
  margin-left:20px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .5), 0 2px 20px 0 rgba(0, 0, 0, .025);
}
.HerMajestyIncorporated p{
  font-size: 26px;
  color:gray;
  margin: auto;
  align-self: center;
}

.membership{
  display: block;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  font-family: helvetica;
  font-size: 20px;
  max-width: 1000px;
  line-height: 1.5em;
}
.membership h2{
  color:#cc2900;
}
#membershipfee{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align:center;
  font-family:helvetica;
  line-height: 1.5em;
  font-size:20px;
}
#membershipfee h2{
  color:#cc2900;
}

.formcontainer{
  max-width: 500px;
  text-align: left;
  margin:auto;

  background-color: #cc2900;
  border: 2px solid black;
  border-radius: 4px;
  color: white;
  line-height: 1.5em;
  font-family: helvetica;
  font-size: 20px;
}

.formgroup{
  margin: 20px;

  display:grid;
}

.formcontainer button{
  width: 100%;
  height: 50px;
  border:0;
  cursor:pointer;
  font-size: 20px;
}
input[type=checkbox]{
  transform: scale(2);
  margin:auto;
  cursor:pointer;
  float:right;
  margin-right:2%;
  margin-top: 10px;
}
.checkbox{
  text-align:left;
  margin: 20px;
  display:block;

}
input[type=text]{
  height:20px;
}
.formgroup input{
}

#showcase{
  background-image:url("../images/abu-dhabi-grand-mosque.jpg");
  background-position: center;
  max-height:auto;
  max-width:auto;
  background-size:cover;
  background-attachment: fixed;
  background-repeat:no-repeat;
  padding: 400px;
}
#border{
  max-width:500px;
  min-width:370px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .5), 0 2px 20px 0 rgba(0, 0, 0, .025);
  background-color:white;
  margin:auto;
}



footer{
  height: 200px;
  padding:0px;
  margin:0;
  background-color: gray;
  color:white;
  font-family:helvetica;
}
.Footerinfo{
  width: 1000px;
  height: 100px;
  margin:auto;
  padding-top: 40px;
  border-bottom: 1px solid black;
}
.RSSGhome{
  float:left;
  padding-left: 50px;
}
.contactus{
  float:left;
  padding-left: 10px;
}
.copyright{
  width: 1000px;
  display: block;
  margin:auto;
}
#siteseal{
  float:right;
}
@media (max-width:1000px) {
  .top {
    height: 500px;
    width: 400px;
    padding-top: 40px;
    margin:auto;
  }
  .logo {
    float: none;
    padding-top:20px;
  }

  .HerMajestyIncorporated{
    float: none;
    display: flex;
    flex-direction: row-reverse;
    width:450px;
    margin: auto;
  }
  #showcase{
    background-image:url("../images/abu-dhabi-grand-mosque.jpg");
    background-position: center;
    max-height:auto;
    max-width:100%;
    background-size:cover;
    background-attachment:scroll;
    background-repeat:no-repeat;
    margin:auto;
    padding:0px;
  }
